
.container {
  width: min-content;
  border-radius: 6px;
  background-color: #7A6563;
  min-height: 20em;
  height: fit-content;

  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
}

.interaction {
  display: flex;
}

button {
  border-radius: 0;
  border: none;
}

input {
  border-radius: 0;
  border: none;
}