
.container {
  width: min-content;
  border-radius: 6px;
  background-color: #CBF3F0;
  min-height: 20em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding:0;
}

.task-list {
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.interaction {
  display: flex;
}

li {
  list-style-type: none;
  margin: 0;
  list-style: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border-radius: 0;
  border: none;
}

input {
  border-radius: 0;
  border: none;
}