
.todo-list {
  width: min(100%, 14em);
  border-radius: 6px;
  background-color: #CBF3F0;
  height: min(100%, 20em);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  padding:0;
  margin: 0 auto;
  border: 1px solid gray;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  overflow-y: auto;
}

.interaction {
  display: grid;
  grid-template-columns: 1fr 2em;
  grid-template-rows: 2em;
  border-top: 1px solid gray;
}

.interaction button {
  grid-column: 2;
}

.interaction input {
  grid-column: 1;
  width: 100%;
}

li {
  list-style-type: none;
  margin: 0;
  list-style: none;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

button {
  border-radius: 0;
  border: none;
}

input {
  border-radius: 0;
  border: none;
}